a.btn.login-btn {
    list-style: none;
    background-color: #533190;
    border: 2px solid #533190;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
  }

/* ************************************************************************Newdoubtcss*********************** */
.NewDoubtContainer{
  box-sizing: border-box;
  width: 1500px;
  margin: 60px auto;
}
.NewCont{
  background-color: transparent;
  background-image: linear-gradient(180deg,#F3ECFF 0,#FFFFFF 100%);
  padding: 20px 0px 0px;
  text-align: center;
}
.NewDoubtMaincontainer{
  display: flex;
  margin: 0px auto !important;
  align-items: center;
}
.NewContainerOne{
  width: 50% !important;
}
.NewcontainerTwo{
  width: 50% !important;
  margin: 20px 0px;
}
span.Newtext-why-fix {
  font-size: 54px;
  font-weight: 600;
}
.Newtext-animate p{
    margin-top: 15px !important;
}
.NewDoubtSubbmit {
  background-color: orange !important;
  color: white !important;
  padding: 12px 32px !important;
  border: 0px !important;
  border-radius: 10px !important;
  font-size: 14px;
  margin: 50px 0px 0px;
}
.NewDoubtSubbmit:hover{
    background-color: #533190  !important;
  }

.NewDoubtMaincontainers{
  background-color:#55328F;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 22px;
  background-image: url("/2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.NewDoubtMaincontainers h1{
  font-size: 1.5rem;
  margin: 0px 0px 30px;
  font-weight: 600;
  color: white;
}
.capture{
  background-color: #F9FCFF;
  width: 70%;
  margin: 0 auto;
  border-radius: 16px !important;
  padding: 16px;
}
.capicon {
    background-color: #E3EAF1 !important;
    /* margin: 0px 0px 16px; */
    border-radius: 8px;
    width: 60%;
    padding: 5px 0px;
    margin: 8px auto;

}
.Capspan{
  font-size: 12px;
  color: #000000;;
}
.Capspan span img{
    width: 8%;
    margin-bottom: 5px;
}
button.CapButton{
  padding: 8px 24px;
  font-size: 12px;
  background-color: orange;
  color: white;
  border-radius: 10px;
  border: none;
  margin-top: 8px;

}
.CapButton:hover{
    background-color: #55328F;
}
.DoubtNextsec{
  background-color: #F8FAFC;
  padding: 30px 0px 20px !important;
  text-align: center;
  background-image: url("/WhatsApp Image 2024-02-14 at 2.12.13 PM.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.Doubtsubsec{
margin: 0 auto;
width: 70%;
}
.Doubtsubsec h1{
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 600;
 
}
.Doubtsubsec p{
  font-size: 15px !important;
  margin-bottom: 20px !important;
}
.Newconimagesec1 video{
  box-shadow: 0 0 30px 0 rgba(2,2,2,1);
}
.cardboxContainer{
  background-color: #F8FAFC;
  padding: 30px 0px 20px!important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/new.jpeg");
}
.cardboxContainer h1{
  color: white;
}
.cardCont {
    text-align: center;
   
}
.cardcont2{
  display: flex;
  margin: 0 auto;
  width: 70%;
}

span#type-text {
  color: #533190;
  font-size: 2rem;
  font-weight: 500;
  font-size: 2rem;
}
span.Newblinking-cursor {
    font-size: 2rem;
}
/* **********************:-moz-ui-invalid */
.modal-dialog {
    max-width: 450px;
    margin: 73px auto;
}
.modal-body{
  padding: 0px;
}
.btn-close {
    position: absolute;
    right: 10px!important;
    top: 10px!important;
    z-index: 999;
}
.pop-up {
  box-shadow: 0 2px 4px 0 #1b1919;
  border-radius: 10px;
}
.teacher-img {
  width: 43%;
}
.teachers-img {
  width: 100% !important;
  height: 200px;
}
.teacher-name {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #533190!important;
  font-family: Gilroy-Bold,sans-serif!important;
}
.div-about {
  margin: 10px;
  box-shadow: 0 2px 4px 0 #1b191998;
  border-radius: 10px;
}
.teacher-name {
  width: 55%;
}
.teacher-name h3 {
  font-size: 25px;
  font-weight: 800;
  padding-top: 50px;
}
.teacher-name h4 {
  font-size: 16px;
  font-weight: 600;
  color: #3d4144;
}
.faculty-card {
  background: #fff 0 0 no-repeat padding-box;
  border: 2px solid #553290;
  box-shadow: 0 0 20px #0000001f;
  border-radius: 20px;
  color: #5236ce;
  min-height: 115px;
  text-align: left;
}
.teachers-name {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #533190!important;
  font-family: Gilroy-Bold,sans-serif!important;
}
.faculty-title {
  font-family: Gilroy-Medium,sans-serif!important;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  color: #565656;
}
.knowmore {
  background: #533190;
  color: #fff;
}
.knowmore, .knowmore:hover {
  border-radius: 20px;
  border-color: #533190;
}
.btn-close {
  position: absolute;
  color: black;
  right: -30px;
  top: 0;
}

/* **********************:-moz-ui-invalid */
.DubtsecTeacher{
  width: 90%;
  margin: 0 auto;
}
.cardCont h1{
    margin: 0px !important;
}
.box1{

width: 33.33%;
 margin: 20px 10px 0px;
 /* background-image: url("/pattern.png"); */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: white;
 border: 1px solid #d5d5d5;
 padding: 24px;
 border-radius: 16px;
 text-align: center;

}
/* *********************************icon css****** */

.NewmainiconContainer{
    background-color: #F8FAFC;
    padding: 30px 0px;
}
.Newcontainer {
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
  }
  
  .NewiconContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .NewiconBox {
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 24px;
    width: 137px;
  }
  
  .NewiconBox img {
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
  }



/* ************************ */
.videoTestimoniols{
    background-color: #F3ECFF;
    background-image: url("/new3.jpeg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 5px 30px;
    width: 100%;
}
.vidhead {
    width: 50%;
    margin: 0 auto;
    text-align: center;
   
}
.vidhead h1{
    margin-bottom: 20px;
}
.vidhead p{
   
    margin: 20px 10px !important;
}
/* *****************************************whats */


/* styles/Home.module.css */
.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .floatingButton {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: #25D366;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .floatingButton:hover {
    background-color: #128C7E;
  }
  
  .icon {
    font-size: 24px;
  }
  
  .subButtons {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-10px, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
  }
  
  .subButton {
    text-decoration: none;
    color: #333;
    padding: 8px;
    transition: background-color 0.3s;
  }
  
  .subButton:hover {
    background-color: #eee;
  }
  /* ******video-section */

.videosubTest{
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}

.vid1 {
    width: 50%;
    
    padding: 0px 140px;
    text-align: left
}
.vid2  {
    
    width: 50%;
    padding: 0px 80px;
    
}
.vid2 video{
    border: 5px solid black;
    border-radius: 20px;
}

.LastSubcont {
    width: 85%;
    background-color: #55328F;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    margin: 50px auto;
}
.last1 {
    width: 46%;
    margin: 74px;
    color: white;
    text-align: left;
}
.last2 button span{
    padding: 20px;
    border-radius: 8px;
}
.last2 button {
    margin: 0px 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
}
.LastContainer{
    background-image: url("/1.png");
    padding: 30px 5px;
    background-position: center;
    background-size: cover;
  background-repeat: no-repeat;

}
.WhatMain{
    background-color: #F8FAFC;
    padding: 30px 0px 0px;
    background-image: url("/new1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  .Whatcontainer {
    max-width: 85%;
    margin: 0 auto;
   
  }
  .Whatcontainer h1{
    text-align: center;
  }
  
  .WhatcontentContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;

  }
  
  .WhatleftSection {
    flex: 1;
    text-align: center;
  }
  
  .WhatrightSection {
    flex: 1;
  }
  .WhatrightSection button{
    border: 1px solid orange;
    padding: 12px 32px;
    background-color: orange;
    color: white;
    border-radius: 10px;
    margin: 24px 0px 0px;
  }
  .WhatrightSection button:hover{
    background-color:#55328F;
    border: 1px solid #55328F;
  }
/* *****************************process */
.ProcessContainer {
    padding: 30px 0px 10px;

    background-image: url("/WhatsApp Image 2024-02-14 at 2.12.14 PM.jpeg");
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;


}
span.ProcessContainerImage {
    width: 16%;
}
.ProcessContainer span{
    margin: 0px 0px;

    display: inline-block;
}
.ProcessContainer span img{
    margin: 0px 0px 5px;
    width: 100%;
    display: inline-block;
}
.WhatrightSection .ImageSpan{
    margin: 0px 0px;
    width: 27%;
    display: inline-block;
}
.WhatrightSection span img{
    margin: 0px 0px 5px;
    width: 100%;
    display: inline-block;
}
.ProcessContainer h1{
    text-align: center !important;
    margin-bottom: 20px;
    
}
.ProcessSubContainer {
    width: 80%;
    margin: 0 auto;
   
}

.ProcessSubmain {
    background-image: url("/images.png");
    background-position: center;
    display: flex;
    align-items: center;
    
}
.ProcessPara1 h3 {
  
    color: #533190;
    font-weight: 700;
}
.ProcessPara2 h3 {
  
    color: #533190;
    font-weight: 700;
}

.ProcessSubmain1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.ProcessPara1 {
    width: 64%;
    
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ProcessPara2 {
    width: 64%;
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Processpara {
    font-size: 12px;
    color: white;
    padding: 12px;
    background-color: #533190;
    border-radius: 65px;
    width: 44px;
    font-weight: 700;
    text-align: center;
}
 p{
    margin-bottom: 0px !important;
}





  /* *************************footer */
  .MailClass{
    text-decoration: none;
    color: white;
  }
  .FooterContainer{
    background-color: #431590;
  }

  .Footersubcont{
    width: 70%;
    margin:  auto;
    padding: 30px 30px;
    display: flex;
    border-top: 1px solid #A976FF;
  }
  .Footersubcont2{
    width: 70%;
    margin:  auto;
    padding:  0px;
    display: flex;
    border-top: 1px solid #A976FF;
  }
  .Footersubcont3{
    width: 70%;
    margin:  auto;
    padding: 5px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: 1px solid #A976FF;
  }
  .Footersubone {
    width: 44%;
}


  .Footersubone1{
    width: 50%;
    display: inline-block;
  }
  .Footersubone2{
    width: 50%;
    display: inline-block;
  }
  .Footersubone2 h5{
    color: white;
    font-weight: 700;
  }
  .FootericonList3 {
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px !important;
  }
  .Footersubone3 ul{
    color: white !important;
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 0px !important;
  }
  .Footersubone1 h5{
    color: white;
    font-weight: 700;
  }
  .Footersubone1 ul {
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 0px !important;
  }
.Footersubcont ul {
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 0px !important;
  }
  .FootericonList2 {
    color: white;
    width: 50%;
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 0px !important;
    margin: 5px 0px;
        justify-content: center  !important;
    
  }
  .FootericonList li {
    display: inline-block;
   
    width: 8%;
    margin: 0px 10px;
}
.FootericonList2{
display: flex;


}
.FootericonList2 li{
    display: flex;
    margin: 0px 5px;
    align-items: center;
    
    }
.Footericon{
    display:flex;;
}
ul.FootericonList {
    width: 50%;
    display: flex;
}
.FootericonList1{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 0px !important;
    margin: 5px 0px;
    
}
.FootericonList1 li {
    display: inline-block;
    width: 8%;
    margin: 0px 10px;
}
/* **************************vid-car */
.carousel-indicators{
    
    color: #1b1919;
}
.FootericonList3 a{
    text-decoration: none;
    color: white;
}

/* testcar****************************** */
.Item1 {
    width: 60%;
    height: 250px;
    margin: 10px auto;
    display: flex;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,.16);
    padding: 35px 2px;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: white;
    align-items: center;
}
.itemimage {
    width: 35%;
    padding: 0px 4px;
}
.testimoniols h1{
    text-align: center;
    margin-bottom: 20px;
}
.testimoniols {
    padding: 30px 0px 20px;
   background-image: url("/BG1212 (1).png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}
.TestiMainCont {
    width: 90%;
    margin: 0 auto;
}
.TestiMainCont {
    width: 78%;
    margin: 0 auto;
}
.itemimage img{
    width: 100% !important;
}
.itemimagecont {
    padding: 0px 10px;
}

.itemimagecont h2 {
    display: inline-block;
    border-bottom: 1px solid orange;
    padding-bottom: 4px;
}



@media only screen and (max-width: 768px) {
    a.btn.login-btn {
        font-size: 12px;
    }
    .WhatrightSection button{
        margin: 12px;
      }
    .NewDoubtContainer h1{
        font-size: 25px !important;
       
    }
    .NewCont {
        width: 98%;
        margin: 0 auto;
    }
    
    .NewDoubtContainer {
           width: 100% !important;
        /* font-weight: 700; */
       
    }
    span.Newblinking-cursor {
        font-size: 1.5rem;
    }
    .NewDoubtMaincontainer {
        flex-direction: column;
    }
    span.Newtext-why-fix {
        font-size: 26px;
        font-weight: 600;
    }
    .NewcontainerTwo {
        width: 100% !important;
        margin:  0px;
    }
    .NewContainerOne {
        width: 100% !important;
    }
    
    span#type-text {
        font-size: 1.5rem;
    }
    button.NewDoubtSubbmit {
        margin: 20px;
    }
    .NewDoubtMaincontainers{
        width: 98%;
        margin-top: 20px;
    }
    .capture {
        
        width: 100%;
    }
    .Capspan span img {
        width: 10%;
    }
    .ProcessSubmain {
        width: 47%;
    }    
    .FootericonList2 li {
        font-size: 1rem;
        display: flex;
        margin: 0px 5px;
        width: 50%;
        align-items: center;
    }

    .ProcessSubmain {
       
        margin-left: 0px;
    }
    .ProcessSubContainer {
        width: 100%;
    }
    .ProcessContainer{
        width: 98%;
        margin: 0 auto;
    }
    .ProcessSubmain1 {
        width: 100%;
       
        flex-direction: column-reverse;
    }
    .ProcessSubmain{
        display: none;
    }
    .ProcessPara1 {
        width: 95%;
        margin: 0 auto;
        text-align: center;
        padding-right: 0px;
    } 
    .ProcessPara2 {
        width: 100%;
        padding-right: 0px;
    }   
    
    
    .Newcontainer {
        max-width: 100%;
    }

    
    .cardcont2 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .box1 {
        margin: 5px auto 0px;
        width: 64%;
        background-color: white;
        border: 1px solid #d5d5d5;
        padding: 12px;
        border-radius: 16px;
        text-align: center;
        font-size: 10px;
    }
    .box1 img{
        width: 52% !important;
    }
    .box1 h5{
        font-size: 15px;
    }
    .box1 p{
        font-size: 10px;
    }
    .WhatcontentContainer {
       flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .vidhead {
        width: 100%;
       
    }

    .Doubtsubsec {
        margin: 0 auto;
        width: 96%;
    }



    .cardCont {
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }
    .cardCont h1{
        margin: 0px !important;
    }
    .videosubTest {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        width: 90%;
        align-items: center;
        margin: 0 auto;
    }
    .vidhead h1 {
        margin-bottom: 5px;
    }
    

    .vid1 {
        width: 100%;
        padding: 0px 0px;
        text-align: center;
    }
    .vid2 {
        width: 100%;
        padding: 0px;
    }
    .TestiMainCont {
        width: 100% !important;
        
    }
    .Whatcontainer {
        max-width: 86%;
        margin: 0 auto;
    }
    .WhatrightSection {
        flex: 1 1;
        text-align: center;
    }
    .WhatrightSection p{
        font-size: 10px;
    }
    .WhatleftSection {
        flex: none;
        width: 50%;
        text-align: center;
        font-size: 10px;
    }
    .WhatrightSection button{
        font-size: 10px;
        /* padding: 12px 12px; */
    }
    .WhatleftSection img{
       width: 100%;
     
    }
    .Item1 {
        width: 96%;
        height: auto;
    }
    .itemimagecont {
        padding: 0px 10px;
        width: 80% !important;
    }
    .itemimagecont p{
        font-size: 10px;
    }
    .LastSubcont {
        width: 100%;
        /* padding: 44px 0px; */
        flex-direction: column;
        padding: 10px 0px;
    }
    .last1 {
        width: 70%;
        margin: auto;
    }
    .last1 h3{
        font-size: 16px;
        text-align: center;
    }
.last2 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.last2 button {
    width: 30%;
    margin: 0px 6px;
    padding: 4px;
   
}
.LastSubcont{
    margin: 0px;
}
    .last2 button span {
        padding: 0px; 
        border-radius: 8px;
        font-size: 12px;
    }


    .Footersubcont {
        width: 100%;
        display: inline-block;
        padding: 30px 30px;
        text-align: center;
    }
    .Footersubcont2 {
        width: 100%;
        display: inline-block;
        padding: 10px 30px;
        text-align: center;
    }
    .Footersubone {
        width: 100%;
        text-align: center;
    }
    .Footersubcont ul {
      
        text-align: center;
        
    }
    .Footericon {
        display: flex;
    }
    ul.FootericonList {
        width: 60%;
        display: flex;
        margin: 0 auto !important;
    }
    .Footersubcont ul {
        margin: 5px auto;
        text-align: left;
        width: 90%;
    }
    .Footersubone1 h5 {
        color: white;
        text-align: left;
        font-weight: 700;
    }
    .Footersubone1 {
        width: 50%;
       
    }
    .Footersubone2 {
        width: 50%;
        text-align: left;
       margin: 0 auto;
    }
    .Footersubone2 ul {
        margin: 5px auto;
        text-align: left;
        width: 100%;
    }
    ul.FootericonList {
        width: 70%;
    }
    ul.FootericonList2 {
        width: 50%;
        margin: 10px auto;
    }
    .footermain {
        display: flex;
        margin-top: 30px;
    }
    .Footersubone img{
        width: 100% !important;
    }
    .FootericonList1 li {
        display: inline-block;
        width: 18%;
        margin: 0px 5px;
    }
    .Footersubcont3 {
        width: 100%;
    }    
    .FootericonList1 {
        align-items: center;
    }
    .ProcessContainerImage{
        margin: 0px 10px;
        width: 9rem !important;
        display: inline-block;
    }
    .WhatrightSection span {
       
        width: 9rem;
    }    
  }



  .Newtext-why-fix img{
    width: 50%;
  }
  @media screen and (min-device-width: 769px) and (max-device-width: 1440px) { 
    
.NewDoubtContainer{
    width: 100% !important;
}
.ProcessContainer span {
    margin: 0px 10px;
    display: inline-block;
}
.ProcessContainerImage {
    margin: 0px 10px;
    width: 12rem !important;
    display: inline-block;
}
.ProcessContainer span img {
    margin: 0px 0px 5px;
    width: 100%;
    display: inline-block;
}
.ProcessSubContainer {
    width: 100%;
}
.cardcont2 {
    display: flex;
    margin: 0 auto;
    width: 95%;
}
.WhatleftSection img{
    width: 100%;
}
.vid1 {
  
    padding: 0px 0px;
   
}
.vid2 {
  
    padding: 0px 0px;
   
}
.Item1 {
    width: 96%;
}
.last1 {
    width: 50%;
    margin: 40px 8px;
    color: white;
    text-align: left;
}
.last2 button {
    margin: 0px 2px;
    padding: 6px;
}
.footermain {
    display: flex;
    width: 100%;
}
.Footersubone {
    width: 50%;
}
.NewDoubtSubbmit{
    margin: 25px 0px 0px;
}
span#type-text {
    color: #533190;
        font-weight: 500;
    font-size: 1.5rem;
}
.WhatrightSection button {
    margin: 12px 0px 12px;
}
}